@font-face {
    font-family: 'akzidenz-grotesk_nextbold';
    src: url('./../../assets/fonts/agnextbold-webfont.woff') format('woff'),
         url('./../../assets/fonts/agnextbold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'akzidenz-grotesk_next_regulRg';
    src: url('./../../assets/fonts/agnextregular-webfont.woff') format('woff'),
         url('./../../assets/fonts/agnextregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}