$mobile: 420px;
$tablet: 768px;
$desktopSmall: 1024px;

$padding-mobile: 15px;
$padding-tablet: 30px;
$padding-desktop: 30px;

// $primary: rgba(255, 184, 74,0.5);
// $primary: rgba(80,179,255,0.2);
$primary: rgb(147,174,203);


  // background-color: rgb(147,174,203);
